@page
@model ServiceHost.Pages.CartModel
@{
    ViewData["Title"] = "Cart";
}


<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">Cart</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="./Index">Home</a>
                            </li>
                            <li class="active">Cart</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  page wrapper  =======-->
                <div class="page-wrapper">
                    @foreach (var item in Model.CartItems.Where(x => !x.IsInStock))
                    {
                        <div class="alert alert-warning"><i class="fa fa-warning">Not available in stock with this quantity @item.Name</i></div> 
                    }
                    <div class="page-content-wrapper">
                        
                            <div class="cart-table table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="pro-thumbnail">Image</th>
                                        <th class="pro-title">Product</th>
                                        <th class="pro-price">Price</th>
                                        <th class="pro-quantity">Quantity</th>
                                        <th class="pro-subtotal">Total</th>
                                        <th class="pro-remove">Remove</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var item in Model.CartItems)
                                    {
                                        <tr>
                                            <td class="pro-thumbnail">
                                                <a href="single-product.html">
                                                    <img src="~/ProductPictures/@item.Picture" class="img-fluid">
                                                </a>
                                            </td>
                                            <td class="pro-title">
                                                <a href="single-product.html">@item.Name</a>
                                            </td>
                                            <td class="pro-price">
                                                <span>@item.UnitPrice €</span>
                                            </td>
                                            <td class="pro-quantity">
                                                <div class="quantity-selection">
                                                    <input type="number" value="@item.Count" min="1" onchange="changeCartItemCount('@item.Id', 'totalPrice-@item.Id', this.value)">
                                                </div>
                                            </td>
                                            <td class="pro-subtotal">
                                                <span id="totalPrice-@item.Id">@item.TotalPrice €</span>
                                            </td>
                                            <td class="pro-remove">
                                                <a methods="onget" asp-page-handler="RemoveFromCart" asp-route-id="@item.Id">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                    </tbody>
                                </table>
                            </div>

                        <div class="row">
                            <div class="col-lg-6 col-12 d-flex">
                                <div class="cart-summary">
                                    <div class="cart-summary-button">
                                        <a class="checkout-btn" asp-page-handler="GoToCheckOut">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>